html ,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Header start */
header
{
    height: 100vh;
    background: url('img/cover.PNG') center center/cover no-repeat ;
    position: relative;

}
header::before
{
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0,0.6);
}
.contaier
{
    max-width: 1100;
    margin: auto;
}
#navbar
{
    
    display :flex;
    justify-content: space-between;
    align-items: center;

}
#navbar img
{
    width: 120px;
    height:120px;
    margin-left: 100px;
}

ul{
    list-style: none;
    display: flex;
    margin-right: 100px;

}

a{
    text-decoration: none;
    color: white;
    padding: 15px 20px
}
#navbar ul li a:hover
{
border-bottom: 3px solid yellowgreen;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    z-index: 100;
    color: #fff;
}
.text_1
{
    color: yellowgreen;
}
.content p{
    font-size: 20px;

}
.content .btn_1{
    color: #fff;
    border:3px solid #fff;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
}
#about .btn_2
{
    color:white;
    background-color: rgb(94, 92, 92);
    font-weight: 1000;
    border-radius: 10px;
}
.content .btn_1:hover,
#about .btn_2:hover
{
    background-color: yellowgreen;
}
header *
{
    z-index: 10;
}

/* Header end */

/* about start*/
.content-about
{
    max-width: 1200px;
    margin: auto;

}
#about
{
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #fff;
   margin-bottom: 4rem;

}

#about h2,
#menu h2

{
    font-size: 40px;
    color: yellowgreen;
    text-align: center;
}
#about .title p
{
  text-align: center;
  font-size:20px ;
  color: black;
  font-weight: 100;
  margin-bottom: 4rem;
}
#about .about_content
{
    display: flex;
    justify-content: space-between;
}
#about img
{
    width: 500px;
    height: 400px;
    border-radius: 40px;
}
#about .about_content p{
    margin-bottom: 40px;
    font-size: 20px;
    margin-right: 18px;
    line-height: 1.6;
}
#about .btn_2
{
    color:white;
    background-color: rgb(94, 92, 92);
    font-weight: 1000;
    border-radius: 10px;  
}
/* about end */

/* menu start */
#menu .contaier
{
  background: #fff;;
  padding: 5px 50px;
}


#menu .menu-items
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2rem;
   gap: 50px;
}
#menu .menu-items img
{
    width: 95px;
    height: 90px;
    border-radius: 50%;
    margin-right: 9px;
}
#menu .menu-items .menu-item
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 40px;
}
#menu .menu-items .menu-item h3
{
    color: #383838;
    border-bottom: 1px dashed yellowgreen;
    padding-bottom: 10px;
    position: relative;
}
#menu .menu-items .menu-item span
{
    position: absolute;
   right: 0;
   color: yellowgreen;
}
#menu .btn_3 
{
    background-color: yellowgreen;
    color: #fff;
    border-radius: 20%;
    border:3px solid #fff;
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 20px;
    
}
#menu .btn_3:hover{
    background-color: #383838;
}
/* menu end */

/* daytime start */
#daytime
{
    margin-top: 3rem;
    background: url('img/backg.PNG') center center/cover no-repeat ;
    text-align: center;
}
#daytime .contaier
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
#daytime .contaier img
{
   width: 40%;
   height: 40%;
}

/* daytime end */

/* gallary start */

#Gallary
{
    background: url('img/backgr2.PNG') center center /cover no-repeat;
    padding: 5rem 0 4rem;
 
}
#Gallary .img-gallary
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#Gallary .img-gallary img
{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.7;
}
#Gallary .img-gallary img:hover
{
 opacity: 0.9;
}
#Gallary .title
{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}
/* gallary end */

/* contact start */
#contact
{
    padding: 5rem 5rem;
    background: #f4f4f4;
}
#contact p{
    color: gray;
}
#contact i
{
    color: yellowgreen;
    margin-right: 15px;
}
#contact a i{
    font-size: 20px;
    color: white;
    border-radius: 50%;
    background-color:rgb(33, 31, 31) ;
    padding: 15px;
  
   
}
#contact a i:hover
{
    color: rgb(33, 31, 31);
    background-color:yellowgreen ;
}
/* contact end */
